@font-face {
	font-family: "Fredoka One";
	src: url("FredokaOne-Regular.ttf");
}

body{
    font-family: "Fredoka One", serif;
    margin: 0px;
    padding: 0%;
}
.row { 
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

#toprow{
    padding-top: 100px;
}

#bottomrow{
    padding-left: -95px;
}

.cloud {
    padding-inline: 20px;
    padding-block: 18px;
    font-size: 20pt;
    animation: float 7s ease-in-out infinite;
    position: relative;  
}

.closer {
padding-inline: 1px;
}

@keyframes float{
0% { left: -10px;}
50% { left: 10px;}
100% { left: -10px;}
}

.d1 { 
    animation-delay: 250ms;
}

.d2 {
    animation-delay: 650ms;
}

.d3 {
    animation-delay: 1.2s;
}

#sky {
    margin:auto; 
    width: 100%;
    height: 40em; 
    background-color: #91adc2;
    color: #ffffff; 
} 

#garden{
    margin:auto;
    top: 40em;
    position: absolute;
    width: 100%;
    height: 40em;
    background-color:#3a5a40;
}  
.ground{
    top: -54px;
    padding-block: 30px;
    padding-inline: 5px;
    font-size: 20pt;  
    color: #344e41;
    position: relative;
    transform-origin: bottom;
    animation: wind 5s infinite;
}

@keyframes wind {

0%{transform: skewX(5deg);}  
50%{transform: skewX(0deg);}
100%{transform: skewX(5deg);} 
 
    
}

#earth{
    background-color: #99621e;
    margin: auto;
    position: absolute;
    top: 35em;
    height: 40em;
    width: 100%;
}

.hole{
    font-size: 40px;
    position: relative;
    padding-inline: 20px;
    width: 60px;
    top: -0px;
    font-weight: bold;
    background-color: #283618;
    color: #283618;
    transition: all 1s;
}

.hole:hover{
    background-color: #0077b6;

}


.drip {
    animation: dripping 1s linear infinite;
    color: #0077b6;
    position: relative;
    padding: 30px;
}


@keyframes dripping{
    0% { top: -70px;}
    100% { top: 300px;}
    }

.small {
font-size: 4pt;
}
.medium{ 
font-size: 25pt;
}
.large{
    font-size: 40pt;
}

.d4{
    animation-delay: 0.5s;
}

.d5{
    animation-delay: 0.2s;
}

.d6{
    animation-delay: 0.4s;
}

